body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f8f9fa;
    margin: 0;
    padding: 0;
}

nav {
    background: #567;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.chart-card {
    background: bisque;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.chart-card img {
    max-width: 90%;
    border-radius: 10px;
}